<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light" style="background-color:rgb(241,148,150) !important">
            <div class="container-fluid container" >
                <a class="navbar-brand" href="#">Typo</a>

                <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDropdown" >
                    <ul class="navbar-nav" style="background: rgb(251,99,174)">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">1. Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">2. About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">3. Archives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">4. Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mb-5">
        <div class="row">
            <div class="col-md-8 d-grid gap-3">
                <article class="p-3" style="background-color: rgb(139,233,161); !important;">
                    <h2>TITULO</h2>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="row">
                        <div class="col-4"><p>18 outubro 2022</p></div>
                        <div class="col-4"><p>post in x</p></div>
                        <div class="col-4"><a href="#">Continue lendo</a></div>
                    </div>
                </article>

                <article class="p-3" style="background-color: rgb(139,233,161); !important;">
                    <h2>TITULO</h2>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="row">
                        <div class="col-4"><p>18 outubro 2022</p></div>
                        <div class="col-4"><p>post in x</p></div>
                        <div class="col-4"><a href="#">Continue lendo</a></div>
                    </div>
                </article>

                <article class="p-3" style="background-color: rgb(139,233,161); !important;">
                    <h2>TITULO</h2>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="row">
                        <div class="col-4"><p>18 outubro 2022</p></div>
                        <div class="col-4"><p>post in x</p></div>
                        <div class="col-4"><a href="#">Continue lendo</a></div>
                    </div>
                </article>

                <nav class="p-3 d-flex justify-content-between" style="background-color:rgb(241,148,150) !important">
                    <div>
                        <a href="#">Next</a>
                    </div>

                    <div>
                        <a href="#">Prev</a>
                    </div>
                </nav>

            </div>

            <div class="col-md-4" style="background: rgb(146,156,226) !important;">
                <aside class="d-grid gap-3">
                    <section  class="p-3" style="background: rgb(87,178,238) !important;">
                        <p><b>ABOUT ME</b></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a href="" class="d-flex justify-content-end">find out more</a>
                    </section>

                    <section class="p-3" style="background: rgb(87,178,238) !important;">
                        <div class="row">
                            <div class="col-6">
                                <p><b>CATEGORIES</b></p>
                                <ul class="list-unstyled">
                                    <li><a href="#">Item </a></li>
                                    <li><a href="#">Item </a></li>
                                    <li><a href="#">Item </a></li>
                                    <li><a href="#">Item </a></li>
                                </ul>
                            </div>

                            <div class="col-6">
                                <p><b>SOCIAL</b></p>
                                <ul class="list-unstyled">
                                    <li><a href="#">Item </a></li>
                                    <li><a href="#">Item </a></li>
                                    <li><a href="#">Item </a></li>
                                    <li><a href="#">Item </a></li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="p-3" style="background: rgb(87,178,238) !important;">
                        <p><b>About me</b></p>
                        <ul class="list-unstyled">
                            <li><a href="#">Refencia para o link </a></li>
                            <li><a href="#">Refencia para o link </a></li>
                            <li><a href="#">Refencia para o link </a></li>
                        </ul>
                    </section>

                    <section class="p-3" style="background: rgb(87,178,238) !important;">
                        <p><b>SEARCH</b></p>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </section>
                </aside>
            </div>
        </div>
    </main>

    <footer class="p-5" style="background: rgb(198, 198, 124)">
        <div class="d-flex justify-content-between container">
            <div>
                LOGO
            </div>

            <div>
                <a href="#">back to up</a>
            </div>
        </div>
    </footer>
</body>
</html>