<!DOCTYPE html>
<html th:include="template :: modelo">
<body>
<div th:fragment="conteudo">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="contato:${contatos}">
                <th scope="row" th:text="${contato.id}"></th>
                <td th:text="${contato.nome}"></td>
                <td th:text="${contato.telefone}"></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>