<!DOCTYPE html>
<html th:include="template :: modelo">
    <body>
        <div th:fragment="conteudo">
            <form action="/novo" method="post" th:object="${contato}">
                <fieldset>
                    <legend>FORMULARIO PARA ADICIONAR</legend>
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" th:field="*{nome}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Telefone</label>
                        <input type="text" class="form-control" th:field="*{telefone}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Endereço</label>
                        <input type="text" class="form-control" th:field="*{endereco}">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>