<html th:include="models/main :: modelo">
    <body>
        <main th:fragment="conteudo">
            <section>

                
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas esse, sit ipsam minus tempore laborum fugit. Odit qui dolores voluptatum omnis facere unde, impedit fugiat officiis, sit quasi expedita saepe!
                        Repellendus est odit similique fugit? Nisi nobis, minima sit consectetur cumque deserunt, laboriosam labore suscipit rerum aliquam illum recusandae beatae facilis soluta. Eveniet odio voluptatibus eius quam, placeat nihil vel.
                        Laboriosam iste tempore ea, aperiam dolor quasi sint exercitationem. Voluptatum excepturi quod, quam ullam exercitationem sint labore perferendis nisi repudiandae distinctio! Est voluptate quae similique dolores temporibus perspiciatis, fuga ratione!</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quia? Esse tempora doloremque quasi debitis voluptate. Recusandae fugiat officiis doloribus placeat neque eos, cum et odit quae assumenda, reiciendis ducimus.
                        Quidem veniam reprehenderit adipisci saepe facilis explicabo soluta repellendus veritatis dolorem, consequuntur dignissimos voluptate accusamus a hic. Aut sunt commodi ipsa harum eaque! Deleniti voluptatum voluptate, dolorem eaque ut sed?
                        Tempora ullam explicabo aperiam perferendis, sed officia illo est pariatur quod voluptate quidem itaque odit autem voluptatibus praesentium ipsa ut necessitatibus consequuntur accusamus distinctio dolorum ducimus, et incidunt beatae. Ducimus?</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet voluptatum animi architecto et recusandae, sint, tenetur qui expedita ut neque laborum, libero quisquam veniam blanditiis laudantium est autem sequi?
                        Asperiores non, ad iste sit quas, veniam facilis et vero, incidunt nesciunt fugiat! Quae illo, aut ipsum facere deserunt magni molestiae tenetur ex neque quas quaerat sunt! Reprehenderit, et ducimus.
                        Illum autem quibusdam corporis? Quaerat voluptas dicta illum in, quae quisquam architecto voluptatum provident reiciendis labore magnam et dolorum sed similique quos vero exercitationem consequatur necessitatibus expedita, error ratione alias!</p>
                    </div>
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas esse, sit ipsam minus tempore laborum fugit. Odit qui dolores voluptatum omnis facere unde, impedit fugiat officiis, sit quasi expedita saepe!
                        Repellendus est odit similique fugit? Nisi nobis, minima sit consectetur cumque deserunt, laboriosam labore suscipit rerum aliquam illum recusandae beatae facilis soluta. Eveniet odio voluptatibus eius quam, placeat nihil vel.
                        Laboriosam iste tempore ea, aperiam dolor quasi sint exercitationem. Voluptatum excepturi quod, quam ullam exercitationem sint labore perferendis nisi repudiandae distinctio! Est voluptate quae similique dolores temporibus perspiciatis, fuga ratione!</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quia? Esse tempora doloremque quasi debitis voluptate. Recusandae fugiat officiis doloribus placeat neque eos, cum et odit quae assumenda, reiciendis ducimus.
                        Quidem veniam reprehenderit adipisci saepe facilis explicabo soluta repellendus veritatis dolorem, consequuntur dignissimos voluptate accusamus a hic. Aut sunt commodi ipsa harum eaque! Deleniti voluptatum voluptate, dolorem eaque ut sed?
                        Tempora ullam explicabo aperiam perferendis, sed officia illo est pariatur quod voluptate quidem itaque odit autem voluptatibus praesentium ipsa ut necessitatibus consequuntur accusamus distinctio dolorum ducimus, et incidunt beatae. Ducimus?</p>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet voluptatum animi architecto et recusandae, sint, tenetur qui expedita ut neque laborum, libero quisquam veniam blanditiis laudantium est autem sequi?
                        Asperiores non, ad iste sit quas, veniam facilis et vero, incidunt nesciunt fugiat! Quae illo, aut ipsum facere deserunt magni molestiae tenetur ex neque quas quaerat sunt! Reprehenderit, et ducimus.
                        Illum autem quibusdam corporis? Quaerat voluptas dicta illum in, quae quisquam architecto voluptatum provident reiciendis labore magnam et dolorum sed similique quos vero exercitationem consequatur necessitatibus expedita, error ratione alias!</p>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>