<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><b>Numero 01:</b> <label th:text="${numero1}"></label></p>
    <p><b>Numero 02:</b> <label th:text="${numero2}"></label></p>
    <p><b>Numero 03:</b> <label th:text="${numero3}"></label></p>
    <p><b>Numero 04:</b> <label th:text="${numero4}"></label></p>
    <p><b>Numero 05:</b> <label th:text="${numero5}"></label></p>
    <p><b>Numero 06:</b> <label th:text="${numero6}"></label></p>
    
</body>
</html>